:root{
    --Moderate-violet: hsl(263, 55%, 52%);
    --VeryDark-grayish-blue: hsl(217, 19%, 35%);
    --VeryDark-blackish-blue: hsl(219, 29%, 14%);
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(0, 0%, 81%);
    --Light-grayish-blue: hsl(210, 46%, 95%);
    --section-padding:30px
}

body{
    font-family: 'Barlow Semi Condensed', sans-serif;
    background-color: var(--Light-grayish-blue);
}
img{
    border-radius: 50%;
    margin-top: -25px;
    margin-right: 20px;
}
.main-row{
    display: grid;
    grid-template-columns: 1fr 300px;
    /* grid-template-rows: repeat(1,auto); */
    gap: 20px;
}
.nested-row{
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(2,auto);
    grid-template-areas: 
    "violet violet violet violet violet violet g-blue g-blue g-blue g-blue"
    "white white white white b-blue b-blue b-blue b-blue b-blue b-blue";
    gap: 20px;
}

.main-row .author{
    margin-bottom: 15px;
}
.main-row .author h6{
    display: inline-block;
    margin-bottom: 0px;
}
.main-row .author span.verified{
    font-size: 13px;
    font-weight: normal;
    opacity: 50%;
}

.main-row p:first-of-type {
    font-weight: 500;
    font-size: 25px;
    line-height: 1.1;
}
.main-row p:last-of-type{
    font-size: 16px;
    opacity: 70%;
}
.m-violet{
    background-color: var(--Moderate-violet);
    background-image: url(./testimonials-grid-section-main/images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: 85% 0;
    color: white;
    border-radius: 12px;
    padding: var(--section-padding);
    grid-area: violet;
}

.d-grayish-blue{
    background-color: var(--VeryDark-grayish-blue);
    color: white;
    border-radius: 12px;
    padding: var(--section-padding);
    grid-area: g-blue;
}

.nested-white{
    background-color: white;
    border-radius: 12px;
    padding: var(--section-padding);
    grid-area: white;
}
.white{
    background-color: white;
    border-radius: 12px;
    padding: var(--section-padding);
}

.d-blackish-blue{
    background-color: var(--VeryDark-blackish-blue);
    color: white;
    border-radius: 12px;
    padding: var(--section-padding);
    grid-area: b-blue;
}
@media screen and (max-width:1024px){
    .main-row{
        grid-template-columns: 1fr;
        /* grid-template-rows: repeat(2,auto); */
    }
}
@media screen and (min-width:481px) and (max-width:768px){
    .nested-row{
        grid-template-columns: repeat(10,1fr);
        grid-template-areas: 
        "violet violet violet violet violet violet violet violet violet violet"
        "g-blue g-blue g-blue g-blue g-blue g-blue g-blue g-blue g-blue g-blue"
        "b-blue b-blue b-blue b-blue b-blue b-blue b-blue b-blue b-blue b-blue"
        "white white white white white white white white white white";
    }
}